*
!.git*
!make
!Makefile
!assets
!assets/**
!src
!src/**
!public
!public/**
!*.md
!*.json
!*.yaml
!.gitea
!.gitea/**
!.husky
!.husky/**
!.drone.yml
!commitlint.config.js
!doc
!doc/**
!latex
!latex/**
