*.avi filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.djvu filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.epub filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.JPEG filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.ods filter=lfs diff=lfs merge=lfs -text
*.odt filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.PDF filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.ps filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
assets/character/archer.png filter=lfs diff=lfs merge=lfs -text
assets/character/background.jpg filter=lfs diff=lfs merge=lfs -text
assets/character/background.png filter=lfs diff=lfs merge=lfs -text
assets/character/head_archer.png filter=lfs diff=lfs merge=lfs -text
assets/character/head_magic.png filter=lfs diff=lfs merge=lfs -text
assets/character/dialogue_frame.png filter=lfs diff=lfs merge=lfs -text
assets/character/newhead.png filter=lfs diff=lfs merge=lfs -text
assets/character/newhead2.png filter=lfs diff=lfs merge=lfs -text
assets/character/pharmacist.png filter=lfs diff=lfs merge=lfs -text
assets/character/swordsman.png filter=lfs diff=lfs merge=lfs -text
assets/character/symbol_archer.png filter=lfs diff=lfs merge=lfs -text
assets/character/symbol_fan.png filter=lfs diff=lfs merge=lfs -text
assets/character/symbol_magic.png filter=lfs diff=lfs merge=lfs -text
assets/character/symbol_sword.png filter=lfs diff=lfs merge=lfs -text
assets/character/Start.jpg filter=lfs diff=lfs merge=lfs -text
assets/character/background_1.jpg filter=lfs diff=lfs merge=lfs -text
assets/character/wolf.png filter=lfs diff=lfs merge=lfs -text
assets/character/Fight_frame_1.jpg filter=lfs diff=lfs merge=lfs -text
assets/character/dialogue_1.jpg filter=lfs diff=lfs merge=lfs -text
assets/character/dialogue_2.jpg filter=lfs diff=lfs merge=lfs -text
assets/character/dialogue_3.jpg filter=lfs diff=lfs merge=lfs -text
